/*  REGLAS
      selectores
      declaraciones
      propiedades
      valores
Propiedades estándar de html

display block 
        Inline
        flex
        Inline-block

, position, margin, padding, top, left, right, bottom, border, etc.
Otras propiedades
font-family: define el tipo de fuente aplicado al texto.
color: define el colore del texto.
line-height: define la altura desde la base del texto hasta la base de la siguiente línea de texto.
font-size: define el tamaño del texto.
letter-spacing: define el espaciado entre las letras del texto.
font-weight: define el grosor de la letra (negrita, normal, light) y normalmente se indica en múltiplos de 100 o usando keywords.
text-decoration: define el decorado del texto (subrayado, tachado, con subrayado superior, etc).
text-transform: Transforma el estado de mayúsculas y/o minúsculas en el texto (uppercase y lowercase).
header {
  background: pink;
  color: red;
  background = fondo
    color = texto
}
*/
/* selector de etiqueta  header - section - article - nav */
/* selector desendente 
    body header div nav ol li a 
*/
/* selector de clase 
    .nombredelaclase
    .link
*/
/*selector de id
#portafolio*/

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
  /* margin: 100px 510px 70px 20px; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.hero {
  height: 300px;
  background-color: #1b2127;
  /*background-image: url("../images/hero.jpg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image {
  object-fit: cover;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}
.project {
  /* border-top: 10px solid red;
  border-right: 10px solid red;
  border-left: 10px solid red;
	border-bottom: 10px solid red; 
  border-color: red;
  border-width: 15px;
	border-style: solid;*/
  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  /* border-top-right-radius: 50px; */
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
/* .project-date{
  margin: 10px;
} */
.project-description {
  font-size: 20px;
  margin: 20px;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
.project-details {
  width: 500px;
}
.project-imageContainer {
  width: 500px;
}
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.menu {
  /* .menu hereda de .header */
  height: inherit;
}
.header ol {
  /* .header ol hereda de .menu */
  display: flex;
  height: inherit;
}
.header ol li {
  /* .header ol li hereda de .header ol */
  height: inherit;
}
.header a {
  /* .header a hereda de .header ol li */
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
figure {
  margin: 0;
}
.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  vertical-align: middle;
}
.footer a {
  color: white;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}
.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20 px;
  text-decoration: none;
  border-radius: 5px;
}
.event-list-title {
  margin: 20px;
}
.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.social-link.twitter {
  background-image: url("../images/twitter.svg");
}
.social-link.facebook {
  background-image: url("../images/facebook.svg");
}
.social-link.github {
  background-image: url("../images/github.svg");
}
.social-link.instagram {
  background-image: url("../images/instagram.svg");
}
.form-email input {
  border-color: gray;
  padding: 5px 20px 5px 25px;
  border-style: solid;
  border-radius: 5px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  /* margin: 10px auto 0; */
}
.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
